* text=auto eol=lf

*.md text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.awk text eol=crlf

*.bat text eol=crlf
*.cmd text eol=crlf

*.wiki text eol=crlf
*.sh text eol=lf

.gitignore text eol=lf
.gitattributes text eol=lf

*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.webp binary
*.bmp binary
